<div class="welcome_form">
  <h1>Welcome to Cheetah Run! Please sign in below:</h1><br>
  <%= form_for @user, url: login_path, method: :post do |f| %>
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %><br>

    <%= f.label :password, "Password: " %>
    <%= f.password_field :password %><br>

    <%= f.submit "Go Wild" %><br><br>


    <h1>Not a member yet? No problem.</h1>
    <%= link_to(controller: 'users', action: 'new') { 'Become a Cheetah' } %>
  <% end %>
</div>
