<div class="mainSection">
  <div class="welcome_form">
    <h1>Welcome to Cheetah Run!</h1><br>
    <h3>Please sign in below:</h3>
    <%= render "errors/error_messages"%><br>
    <%= form_for @user, url: login_path, method: :post do |f| %>
      <%= f.label :username, "Username: " %>
      <%= f.text_field :username %><br>

      <%= f.label :password, "Password: " %>
      <%= f.password_field :password %><br>

      <%= f.submit "Go Wild", :class => "btn" %><br><br>
    <% end %>

    <h1>Not a member yet? No problem.</h1>
    <%= button_to "Become a Cheetah", new_user_path, method: :get, :class => "btn"%>
  </div>
</div>

  <div class="mainSection_bottom">
    <div class="mainSection_shout_out">
      <h1>Top Cheetah Rating</h1>
        <h3><%= @top_user[1] %></h3>
        <h4><%= @top_user[0][0] %> | <%= @top_user[0][1].round(1)  %></h4>
    </div>
    <div class="mainSection_shout_out">
      <h1>Newest Task Created</h1>
      <h3><%= truncate(@newest_task.title, :length => 20) %></h3>
      <h4>Created by: <%= @newest_task.snake.username %></h4>
    </div>
    <div class="mainSection_shout_out">
      <h1>Top Cheetah Points</h1>
        <h3>User: <%= @top_cheetah_points.last[0] %></h3>
        <h4>Points: <%= @top_cheetah_points.last[1] %></h4>
    </div>
  </div>
