<!DOCTYPE html>
<html>
  <head>
    <title>Cheetah Run</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <!-- HEADER SECTION - CONSTANT -->
    <header class="container">
      <div class="header">
        <div class="headerLogo">
          <img src="http://www.freepngimg.com/download/cheetah/3-2-cheetah-free-png-image.png" />
          <h5>Cheetah Run</h5>
        </div>
        <div class="headerMission">
          <h5 class="headerPhrase">Everything's possible in the blink of an eye</h5>
          <% if session[:user_id] %>
            <h5><%= link_to @user.username, user_path(@user), :class => "login"%></h5>
          <% else %>
            <h5><%= link_to "Login", login_path, :class => "login" %></h5>
          <% end %>
        </div>
      </div>
    </header>

    <div class="mainSection">
      <%= yield %>
    </div>

    <footer>
      <div class="footer">
        <p class="copyright">&copy; 2018 Cheetah Run. All rights reserved</p>
        <nav class="footerNav">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>


  </body>
</html>
